*{
    margin:2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Navbar{
    display: flex;
    width: 100%;
    background-color:seashell;
    color: black;
    justify-content: space-between;
    align-items: center;
}
.first{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    align-items: center;
}
.list{
    display: flex;
    align-items: center;
    width: 70%;
}
.last{
    display: flex;
    align-items: center;
    width: 20%;
}
li{
    list-style: none;
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.Howto{
    background-color: darkgray;
    width: 400px;
    height: 200px;
    padding: 20px;
    border-radius: 15px;
    display:none;
    grid-template-columns: auto auto auto;
    position: absolute;
    transform: translate(109%,0);
    
}
.item{
    padding: 10px;
    
}
h2{
    font-weight: 100;
    font-size:medium;
}
a{
    text-decoration: none;
    color: black;
}
.body{
    width:100%;
    height: fit-content;
    
    text-align: center;
}
.signup{
    
    padding: 20px;
    width: 60%;
    margin: 10%  20%;
}
form{
    background-color: #8080805d;
    padding: 30px;
    border-radius: 10px;
}
.inputs p{
    font-style: oblique;
    font-size: large;
    font-weight: 200;
}
.inputs{
    
    margin-bottom: 30px;
}
input{
    width: 40%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
}
#aqua{
    width: 20%;
    padding: 8px;
    border: 1px solid black;
    outline: none;
}
#aqua:hover{
    background-color:aqua;
}